@model sklep.Models.ProductViewModel

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}
<hr />
<label asp-for="@Model.Name"></label> : @Model.Name
<br />
<label asp-for="@Model.Category"></label> : @Model.Category
<br />
<label asp-for="@Model.Price"></label> : @Model.Price
<br />
<label asp-for="@Model.StockQuantity"></label> : @Model.StockQuantity
<br />
